.agent-nav {
  position: sticky;
  top: 0;
  background-color: #002d44;
  padding: 0 20px;
  z-index: 99;
}
.agent-nav .agent-nav-links ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.agent-nav .agent-nav-links ul li a.active {
  color: #ffeb3b;
}
.agent-nav .log-out {
  cursor: pointer;
}
.agent-commission .table:not(.user-info .table) {
  margin-bottom: 30px;
}
.agent-commission .table:not(.user-info .table) tr:last-child {
  background-color: rgb(13, 110, 73);
  color: white;
}
.agent-commission .table tr td.service {
  background-color: #0096881c;
}
.agent-commission .table tr td.amount-total {
  background-color: #d9d9b96c;
}
.agent-commission .table tr td.percentage {
  background-color: #c7c7c733;
}
.agent-commission .table tr td.commission {
  background-color: #3f51b51f;
}
.agent-commission .table tr td.segment {
  background-color: #d1a00e30;
}
.agent-commission .search-date {
  width: 400px;
  max-width: 100%;
  margin: 30px auto;
}