nav {
  position: sticky;
  top: 0;
  background-color: #002d44;
  padding: 0 20px;
  z-index: 99;
}
nav .search {
  width: 400px;
}
nav .search-span {
  width: 40px;
  padding: 10px;
  background-color: #02659bf8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}
nav .toggle-icon svg {
  color: white;
  font-size: 22px;
  cursor: pointer;
}


/* Media Query  */
@media (max-width: 767px) {
  nav .aqsa-logo img {
    width: 100px;
  }
  nav .search {
    width: 230px;
  }
  .nav-acc {
    display: none;
  }
}