.table {
  overflow: auto;
}
table {
  width: 100%;
  text-align: center;
  /* /* border-collapse: separate; */
  /* border-spacing: 0 10px; */ 
}
table thead tr {
  /* color: white; */
  /* background-color: #002d44 !important; */
}
table thead tr th {
  font-weight: normal;
  padding: 5px 0;
  min-width: 86px;
  border: 1px solid rgba(0, 0, 0, 0.164);
  /* position: relative; */
}
table tbody tr,
table tbody tr td {
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.164);
}
table tr {
  font-size: 14px;
}
table thead th.sort {
  cursor: pointer;
}
table thead th.sort::before,
table thead th.sort::after {
  position: absolute;
  bottom: 6px;
  display: block;
  /* color: white; */
}
table thead th.sort::before {
  content: '↑';
  right: 1em;
}
table thead th.sort::after {
  right: 0.5em;
  content: '↓';
}
.row-delete td {
  text-decoration: line-through;
  color: red;
}
/* End Table  */
