@font-face {
  font-family: Tajawal;
  src: url(../src/assets/fonts/Tajawal/Tajawal-Regular.ttf);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
    /* font-family: 'Tajawal'; */
}
body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  /* background-image: url(../public/images/295612356_5218827131569129_5000473231599019167_n.jpg); */
}
.container {
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: black;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}

.aqsa {
  padding: 0 10px 25px 10px;
  transition: 0.4s;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .aqsa.full {
    padding-right: 250px;
  }
  .aqsa.half {
    padding-right: 25px;
  }
}
/* @media (max-width: 767px) {
  .aqsa {
    padding-bottom: 100px;
  }
} */


/* Components  */

.d-flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-between {
  justify-content: space-between;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.text-white {
  color: white;
}
.text-center {
  text-align: center;
}


.table-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.aqsa-logo img {
  width: 160px;
  height: 60px;
  object-fit: cover;
}


input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}


/* Modal  */
.mantine-Modal-header {
  border-bottom: 1px solid var(--mantine-color-gray-3);
}
@media (max-width: 567px) {
  .mantine-Modal-inner {
    /* padding-right: 0; */
  }
}
table thead tr th {
  border-color: rgba(0, 0, 0, 0.096)  !important;
  text-align: center !important;
  font-size: 13px;
}

.mantine-TextInput-label, .mantine-Select-label, .mantine-DateTimePicker-label {
  margin-bottom: 6px;
  /* color: rgba(0, 0, 0, 0.815); */
}
/* .deleted-row td {
  text-decoration: line-through;
  color: red;
} */

tr.checked {
  background-color: #c5f6fa !important;
}


.m-8fb7ebe7:disabled, .m-8fb7ebe7[data-disabled] {
  /* color: #000000 !important; */
  opacity:1 !important;
}